<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="PollingApp.Repositories" />
  <namespace name="PollingApp.Repositories" />
  <container>
    <register type="IAppRoleRepo" mapTo="AppRoleRepo" />
    <register type="ITopicMasterRepo" mapTo="TopicMasterRepo" />
  </container>
</unity>