@model PollingApp.Models.TopicMaster

  <div id="entityModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <a href="#" class="close" data-dismiss="modal" aria-hidden="true">×</a>
          <h3 id="myModalLabel">Topic Master Details</h3>
        </div>
        <div class="modal-body">
          @Html.Partial("_TopicMasterDetails")
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    </div>
  </div>

