@model IEnumerable<PollingApp.Models.TopicWithOptions>


@foreach (var item in Model)
{
  <div class="topic span12">
    <b> @Html.DisplayFor(i => item.TopicName)</b>
  </div>
  for (int k = 0; k < item.Options.Split('/').Length; k++)
  {
    <div class="span12">
      @Html.RadioButtonFor(j => item.Options.Split('/')[k], item.TopicOptionMappingId.Split('/')[k], htmlAttributes: new { @Name = item.TopicName }) @Html.Raw(item.Options.Split('/')[k])
    </div>
  }
  <br />
}
<div class="span12">
  <div class="col-md-2" style="padding:0px">
    <b>  @Html.Raw("Additional Comments")</b>
</div>
  <div class="col-md-9">
    <textarea cols="100" rows="3" id="comment" style="max-width:none" placeholder="Write something here..." />
  </div>
</div>
<br/>
<div class="span12">
  <div class="col-md-6" style="padding:15px 0px 0px 0px">
    <input type="button" name="Submit" value="Submit" class="btn btn-primary" onclick="GetSelectedOptions()" />
  </div>
</div>
