@model IEnumerable<PollingApp.Models.TopicOptionMapping>

@{
  ViewBag.Title = "Create";
}

<h2>Create</h2>
<div class="span12">
  @Html.Raw("Category"):
  @Html.DropDownList("CategoryId", (SelectList)ViewBag.TopicNameList, "Select", htmlAttributes: new { onchange = "GetTopicswithOptions()" })
</div>
<hr />
@foreach (var item in Model)
{
  <div class="span12">
    @Html.DisplayFor(i => item.TopicMaster.TopicName)
  </div>

}

