@model PollingApp.Models.Polling
@{
  ViewBag.Title = "Index";
}

<h2>Submit Poll</h2>
<div class="span12">
  @Html.Raw("Category"):
  @Html.DropDownList("CategoryId", (SelectList)ViewBag.TopicNameList, "Select", htmlAttributes: new { onchange = "GetTopicswithOptions()" })
</div>
<hr />
<div id="SubmitPolls">
</div>
@section scripts
{
  <script>
    $(document).ready(function myfunction() {

    });
    var apiUrl = 'http://localhost:8080/api/ApiPolling/GetTopicWisePolls/';
    function GetTopicswithOptions() {
      var CategoryId = $('#CategoryId').val();
      $.get("/Polling/GetTopicsWithOptions", { id: CategoryId }, function (data) {
        $('#SubmitPolls').html(data);
      });
    }
    function GetSelectedOptions() {
      var arraySelected = [];
      var selectedRadio = [];
      var all = $(".topic").map(function () {
        arraySelected.push(this.innerHTML.trim());
      });
      for (var i = 0; i < arraySelected.length; i++) {
        var radioValue = $("input[name='" + arraySelected[i].replace(' ','') + "']:checked").val();
        selectedRadio.push(radioValue);
      }
      alert(selectedRadio);
      $.post("/Polling/Create", { selectedTopicOptionMappingId: selectedRadio }, function (data) {
        $('#divMessage').html("Success");
      });
    }
  </script>
}
