@model PollingApp.Models.Polling
@{
  ViewBag.Title = "Index";
}

<h2>Submit Poll</h2>
<div class="span12">
  @Html.Raw("Category"):
  @Html.DropDownList("CategoryId", (SelectList)ViewBag.TopicNameList, "Select", htmlAttributes: new { onchange = "GetTopicswithOptions()" })
</div>
<hr />
<div class="alert alert-danger" id="alertbox" style="display:none">
  <strong>Danger!</strong> Please select one of the option for all the listed Topics.
</div>
<div id="SubmitPolls">
</div>

@section scripts
{
  <script>
    $(document).ready(function myfunction() {
      $("#alertbox").hide();
    });
    var apiUrl = 'http://localhost:8080/api/ApiPolling/GetTopicWisePolls/';
    function GetTopicswithOptions() {
      $("#alertbox").hide();
      var CategoryId = $('#CategoryId').val();
      $.get("/Polling/GetTopicsWithOptions", { id: CategoryId }, function (data) {
        $('#SubmitPolls').html(data);
      });
    }
    function GetSelectedOptions() {
      var arraySelected = [];
      var selectedRadio = [];
      var comments = $('textarea#comment').val();
      var all = $(".topic").map(function () {
        arraySelected.push(this.innerHTML.trim());
      });
      for (var i = 0; i < arraySelected.length; i++) {
        if ($("input[name='" + arraySelected[i].replace(' ', '') + "']").is(':checked')) {
          var radioValue = $("input[name='" + arraySelected[i].replace(' ', '') + "']:checked").val();
          selectedRadio.push(radioValue);
          $.post("/Polling/Create", { selectedTopicOptionMappingId: selectedRadio, comments: comments }, function (data) {
            $('#divMessage').html(data);
            $('#entityModal').modal('show');
            $("#alertbox").hide();
            return true;
          });
        }
        else {
          $("#alertbox").show();
          return false;
        }
      }
    }

  </script>
}
