@model PollingApp.Models.Polling
@{
  ViewBag.Title = "Report";
}

<h2>Report</h2>

<div class="span12">
  @Html.Raw("Category"):
  @Html.DropDownList("CategoryId", (SelectList)ViewBag.TopicNameList, "Select", htmlAttributes: new { onchange = "GetListofTopics()" })
</div>
<hr />
<div id="Report">

</div>
@section scripts
{
  <script>
    var apiUrl = 'http://localhost:8080/api/ApiPolling/GetTopicWisePolls/';
    function GetListofTopics() {
      var CategoryId = $('#CategoryId').val();
      var items = '';

      $.ajax({
        url: apiUrl + '/?categroyId=' + CategoryId,
        type: "Post",
        dataType: 'json',
        success: function (response) {
          $.each(response, function (i, item) {
            var topic = item.TopicName;
            var optioncount = item.OptionNameWithCount.split('/');

            items += "<div class=row><div class=col-xs-2>" + topic + "</div>"
              + "<div class=progress width=100%>"
            var widths = [];
            var options = [];
            $.each(optioncount, function (j) {
              var width = (parseFloat(optioncount[j].split('-')[1]) / 11) * 100;
              widths.push(width);
              widths.sort(function (a, b) { return a - b });
              widths.reverse();
            });
            $.each(widths, function (k) {
              $.each(optioncount, function (j) {
                var wid = (parseFloat(optioncount[j].split('-')[1]) / 11) * 100;
                if (wid == widths[k]) {
                  if (k == 0) {
                    items += "<div id='success' class='progress-bar progress-bar-success' role='progressbar' style='width:" + parseFloat(widths[k]) + "% ' >"
                      + optioncount[j].replace(' ', '') + "</div>"
                  }
                  else if (k == 1) {
                    items += "<div id='ok' class='progress-bar progress-bar-info' role='progressbar' style='width:" + parseFloat(widths[k]) + "% ;'>"
                      + optioncount[j].replace(' ', '') + "</div>"
                  }
                  else if (k == 2) {
                    items += "<div id='Warning' class='progress-bar progress-bar-warning' role='progressbar' style='width:" + parseFloat(widths[k]) + "% ; ' >"
                      + optioncount[j].replace(' ', '') + "</div>"
                  }
                  else if (k == 3) {
                    items += "<div id='danger' class='progress-bar progress-bar-danger' role='progressbar' style='width:" + parseFloat(widths[k]) + "% ; '>"
                      + optioncount[j].replace(' ', '') + "</div>"
                  }
                  optioncount.splice(j, 1);
                  return false;
                }
              });
            });
            items += "</div></div>";
          });
          $("#Report").html(items);
        }
      });
    }
  </script>
}
