
@Ajax.BeginForm("Index", "Home", new AjaxOptions { })
{
<div id="entityModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">×</a>
        <h3 id="myModalLabel">@Html.Raw("Successfully Submitted")</h3>
      </div>
      <div class="modal-body">
        <div class="span12">
          @Html.Raw("Thank you for submitting the polls. We will post the results in sometime!!")
        </div>
      </div>
      <div class="modal-footer">
        @Html.ActionLink("Ok", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-primary" })
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
    </div>
  </div>
</div>
}



