@{
  ViewBag.Title = "Home Page";
}

<div>
  <h1>Getting Started</h1>

</div>

<div class="row">
  <div class="col-md-12">
    <p>
      This Application used to have the polling on certain Topic.
      This is good to share everyone view on the topic, based on that we can decide on what to do as a Team. This is internal to Thomson Reuteres team.
    </p>
    Flow of the App is as follows
    <ul>
      <li> Define the Master Categories   </li>
      <li> Define the Master Topics       </li>
      <li> Define the Master Options      </li>
      <li> Define the Mapping of Categories and Topics</li>
      <li>Define the Mapping of Topics and Options</li>
      <li>Submit the poll</li>

    </ul>


  </div>
</div>