
@{
  ViewBag.Title = "Index";
}

<h2>Submit Poll</h2>

<div>
  Category:
  <select>
    <option value="1">Front End</option>
    <option value="2">Back End</option>
  </select>
</div>
<hr />
<div>
  <p>
    <span><b>  Microsot .Net Introduction</b></span><br>
    <input type="radio" name="gender" value="male"> Good
    <input type="radio" name="gender" value="female">Bad Content
    <input type="radio" name="gender" value="other"> Explanation is Bad
    <input type="radio" name="gender" value="other" /> Ok
  </p>
  <p>
    C# - Language Syntax
    <input type="radio" name="gender" value="male"> Good<br>
    <input type="radio" name="gender" value="female">Bad Content<br>
    <input type="radio" name="gender" value="other"> Explanation is Bad<br>
    <input type="radio" name="gender" value="other" /> Ok
  </p>
  <p>
  <p>
    Ado.Net
    <input type="radio" name="gender" value="male"> Good<br>
    <input type="radio" name="gender" value="female">Bad Content<br>
    <input type="radio" name="gender" value="other"> Explanation is Bad<br>
    <input type="radio" name="gender" value="other" /> Ok
  </p>
  <p>
    HTML &Aacute; CSS
    <input type="radio" name="gender" value="male"> Good<br>
    <input type="radio" name="gender" value="female">Bad Content<br>
    <input type="radio" name="gender" value="other"> Explanation is Bad<br>
    <input type="radio" name="gender" value="other" /> Ok
  </p>
  <p>
    Javascript
    <input type="radio" name="gender" value="male"> Good<br>
    <input type="radio" name="gender" value="female">Bad Content<br>
    <input type="radio" name="gender" value="other"> Explanation is Bad<br>
    <input type="radio" name="gender" value="other" /> Ok
  </p>


</div>